body {
  font-family: sans-serif;
  line-height: 1.5em;
  margin: auto;
  max-width: 800px;
  padding: 1em;
}

/* header and footer areas */
nav > ul { padding: 0; }
nav > ul > li { display: inline-block; }
article > header, nav > ul a {
  background: #eee;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.terms { font-size: .9em; }
nav > ul, article > header, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}
body > nav {
  border-bottom: 1px solid #ddd;
}
body > footer {
  border-top: 1px solid #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  overflow-x: auto;
  padding: 1em;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  margin: auto;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
