<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head profile="//gmpg.org/xfn/11">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end -}}
  </head>

  <body>
    <nav>
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    {{ block "main" . }}
    {{ end }}

    <footer>
      {{ with .Site.Params.footer }}
      {{ . | markdownify }}
      {{ end }}
    </footer>
  </body>
</html>
