{{ define "main" }}
<article class="h-entry">
  <header>
    <h1><span class="title p-name">{{ .Title | markdownify }}</span></h1>
    {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
    {{ if (gt .Params.date 0) }}<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}
    <p class="terms">
      {{ range $i := (slice "categories" "tags") }}
      {{ with ($.Param $i) }}
      {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
      {{ end }}
      {{ end }}
    </p>
  </header>

  <main class="e-content">
  {{ .Content }}
  </main>
</article>
{{- end }}
